<h1>수정하기</h1>

<form action="/home/update/<%= @post.id %>" method="post">
  위치 <input type="string" name="location" value="<%= @post.location %>"><br>
  이름 <input type="text" name="name" value="<%= @post.name %>"><br>
  내용 <input type="text" name="content" value="<%= @post.content %>"><br>
  별점 <input type="text" name="stars" value="<%= @post.stars %>"><br>
  <input type="submit" value="수정">
</form>